/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require bootstrap-datepicker

*= require_self

*/
@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";



// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

.form-user {
  max-width: 450px;
}

.search {
    margin-top: 30%;
}
.search .form-section{
    background:rgba(0,0,0,0.6);
    border: 2px solid #414141;
    border-radius: 5px;
    padding: 10px;
}

#checkout {
	width: 100px;
}

.gray {
	height:100px;
	width: 100px;
	background-color: gray;
}

// body { 
// 	padding-top: 0%; 
// 	background-color: white;
// 	margin:0;
//     font-family:sans-serif;
// 	color:#ffffff;
//     text-align:center;
// }
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:90%;
    font-size: 60px;
    color: black;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}


section {
	background:#fff;
}
.not-fullscreen {
    height:50%;
}

.navbar {
   background-color: transparent;
   background: transparent;
   margin-bottom: 0px
}

.navbar li { color: #000 }

.btn {
	vertical-align: top;
}
.row {
	height: 45px;
}
