<div class="fullscreen background" style="background-color:white;" data-img-width="1600" data-img-height="1064">
	<div class="content-a">
		<div class="content-b">
			<div class="search">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="content-a">
							<!-- 	<div class="content-b">
									Book With Lodge. Save The World.
								</div> -->
							</div>
							<div class="form-section">
								<div class="row">
									<form role="form">
										<div class="col-md-4">
											<div class="form-group">
												<label class="sr-only" for="location">Location</label>
												<input type="email" class="form-control" id="location" placeholder="Choose Your Destination">
											</div>
										</div>
										<div class="input-daterange" data-behaviour="datepicker" id="datepicker" data-date-format="mm/dd/yyyy">
											<div class="col-md-3">
												<div class="form-group">
													<label class="sr-only" for="checkin">Check in</label>
													<div class="input-group">
														<%= form_for(Reservation.new) do |f| %>
															<%= f.text_field :checkin, :id => "checkin", :class => "form-control", :value => Date.today.strftime('%m-%d-%Y') %>  
														<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="sr-only" for="checkout">Check in</label>
													<div class="input-group">
															<%= f.text_field :checkout, :id => "checkin", :class => "form-control", :value => Date.tomorrow.strftime('%m-%d-%Y') %>  
														<% end %>
														<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
														<script>
														$('#datepicker').datepicker({format: 'mm-dd-yyyy'});
														</script>
													</div>
												</div>
											</div>
		
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-lg btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
